<a href="https://colab.research.google.com/github/221810302025/python/blob/master/Day_6_(22_06_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CONTROL FLOW STATEMENTS

# EXAMPLES

In [0]:
x=10;
if(x<15):
 print("the number is less than 15");

the number is less than 15

In [0]:
x=10;
if(x>15):
 print("the number is less than 15");
else:
 print("the number is greater than 15");

the number is greater than 15

In [0]:
x=10;
if(x>15):
 print("hello good morning");
else:
 print("hello good after noon");

hello good after noon

# EXAMPLE 
Need input as two numbers and print the greatest number

In [0]:
x=10;
y=20;
if(x>y):
 print("x is greater than y");
else:
 print("y is greater than x");

y is greater than x

In [0]:
x=int(input("enter x"));
y=int(input("enter y"));
if(x>y):
 print("x is greater than y");
else:
 print("y is greater than x");

enter x10
enter y20
y is greater than x

# EXAMPLE
Need two numbers as input if both the numbers are same then output must be square a first number if not the output must be multiplication of both numbers

In [0]:
x=int(input("enter x"));
y=int(input("enter y"));
if(x==y):
 print(x**x)
else:
 print(x*y)

enter x2
enter y3
6

# EXAMPLE
Print the number is positive,negative or zero

In [0]:
x=int(input("enter x"));
if(x>0):
 print("x is positive number");
elif(x<0):
 print("x is negative number");
else:
 print("x is zero");

enter x10
x is positive number

# LOOPS 
print the numbers from 1 to 10

In [0]:
n=1;
while(n<=10):
 print(n);
 n=n+1;

1
2
3
4
5
6
7
8
9
10

# EXAMPLE
print the numbers from 10 to 1

In [0]:
n=10;
while(n>=1):
 print(n);
 n=n-1;

10
9
8
7
6
5
4
3
2
1

# EXAMPLE
print the numbers from -22 to 45

In [0]:
n=-22;
while(n<=45):
 print(n);
 n=n+1;

-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

# EXAMPLE
Print the sum of even numbers from 1 to 100

In [0]:
x=int(input("enter x"));
y=int(input("enter y"));
sum=0;
while(x!=y):
 if(x%2==0):
    sum=sum+x;
 x=x+1;
print(sum);

enter x1
enter y100
2450

# EXAMPLE
Extract the digits of the number from right side direction

In [0]:
x=int(input("enter x"));
while(x!=0):
 r=x%10;
 print(r);
 x=x//10;

enter x145
5
4
1

# EXAMPLE
Print sum of even numbers in the given number

In [0]:
x=int(input("enter x"));
sum=0;
while(x!=0):
 r=x%10;
 if(r%2==0):
  sum=sum+r;
 x=x//10;
print(sum);

enter x1951
0

# EXAMPLE
convert the digit into digit name

In [0]:
x=int(input("enter x"));

while(x!=0):
    r=x%10
    
    
    if(r==0):
      print("zero");
    elif(r==1):
      print("one");
    elif(r==2):
     print("two");
    elif(r==3):
     print("three");
    elif(r==4):
     print("four");
    elif(r==5):
     print("five");
    elif(r==6):
     print("six");
    elif(r==7):
     print("seven");
    elif(r==8):
     print("eight");
    elif(r==9):
     print("nine");
    x=x//10;

enter x9876543210
zero
one
two
three
four
five
six
seven
eight
nine

# EXAMPLE
How many time the digit is repeated between 2nd and 3rd number

In [0]:
digit=int(input("number"));
l1=int(input("low"));
l2=int(input("up"));
cnt=0;
while(l1!=l2):
    buffer=l1;
    while(l1!=0):
      r=l1%10;
      if(r==digit):
            cnt=cnt+1;
      l1=l1//10;      
        
    l1=buffer;    
        
    l1=l1+1;
print(cnt);

number2
low22
up30
9

# FUNTIONAL PROGRAMMING
Print the numbers upto the given number

In [0]:
def printNNaturalNumbers(n):
    cnt=1
    while(cnt<=n):
        print(cnt)
        cnt=cnt+1
    print()
    return
printNNaturalNumbers(9)
printNNaturalNumbers(15)

1
2
3
4
5
6
7
8
9
()
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
()

# EXAMPLE
print the sum of the factorial of the given number

In [0]:
def findfact(n):
  fact=1;
  while(n!=0):
   fact=fact*n;
   n=n-1;
  return fact;
print(findfact(5));
print(findfact(10));
print(findfact(20));

120
3628800
2432902008176640000

# EXAMPLE
count the palindrome number between the given range

In [0]:
def countOfPalindromes(n1,n2):
    c=0;
    if(n1<n2):
        up=n2;
        low=n1;
    while(low!=up):
        i=low;
        r=0;
        while(i!=0):
            s=i%10;
            r=(r*10)+s;
            i=i//10;
        if(r==low):
            c=c+1;
        low=low+1;
    return c;
print(countOfPalindromes(1,100));

18